body{
    font-family: Arial;
    margin: 0;
}

.container{
    width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
}

/* HEADER */

.page__header{
    background-color: #445162;
    padding: 50px;
    box-sizing: border-box;
    width: 100%;
}

.page__header:after{
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.page__header_content{
    color: #ffffff;
    float: left;
}

.page__header_content_text{
    font-size: 60px;
    line-height: 1.2;
    font-weight: 400;
    display: block;
    margin-bottom: 10px;
}

.page__header_content_list{
    margin: 0;
    list-style: none;
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    padding: 0 0 0 33px;
}

.page__header_content_list_item{
    position: relative;
}

.page__header_content_list_item:before{
    content: "";
    display: block;
    width: 25px;
    height: 19px;
    background-image: url(../img/check_icon_346.png);
    background-size: cover;
    position: absolute;
    top: 5px;
    left: -30px;
}

.page__header_img{
    float: right;
    display: block;
    background-color: #fff;
    width: 469px;
    height: 214px;
}

/* MAIN */
/* ABOUT */

.main__about_wrp{
    background-color: #fff;
    display: flex;
    margin: 50px;
}

.main__about_txt_wrp{
    margin-right: 100px;
}

.main__about_header{
    display: block;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
}

.main__about_img{
    display: block;
    background-color: #445161;
    min-height: 245px;
    min-width: 430px;
}

.main__about_txt1{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
}

/* DIGNITY */

.main__dignity_wrp{
    background-color: #f5f5f5;
    padding: 50px;
}

.main__dignity_header{
    display: block;
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    padding: 30px;
}

.main__dignity_items{
    display: flex;
    justify-content: space-evenly;
}

.main__dignity_spoiler{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
    display: flex;
    width: 100%;
}

.main__dignity_items_wrp{
    width: 50%;
}

summary{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
}

/* Screenshots */

.main__screenshots_wrp{
    padding: 50px;
    background-color: #fff;
}

.main__screeenshots_header{
    display: block;
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    margin-bottom: 35px;
}

.main__screenshots_section_main_wrp{
    display: flex;
    flex-wrap: wrap;
}

.main__screenshots_img{
    height: 150px;
    min-width: 200px;
    background-color: #445161;
    display: block;
}

.main__screenshots_section_card_wrp{
    display: flex;
    margin-bottom: 30px;
    width: 50%;
}

.main__screenshots_content_header{
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #445161;
    margin: 0 0 5px 15px;
}

.main__screenshots_content_txt{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
    margin: 0 0 0 15px;
}

.main__screenshots_section_wrp_wrp{
    margin-right: 16px;
}

/* Reviews */

.main__reviews_wrp{
    padding: 50px;
    background-color: #f5f5f5;
}

.main__reviews_items{
    display: flex;
    flex-wrap: wrap;
}

.main__reviews_header{
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    display: block;
    text-align: center;
    margin-bottom: 35px;
}

.main__reviews_items_card_text_comment{
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    font-style: italic;
    color: #333333;
    margin: 0 0 16px 0;
    hyphens: auto;
    word-wrap: break-word;
}

.main__reviews_items_card_text{
    padding: 16px 20px 16px 20px;
    background-color: #ebebeb;
    border-radius: 2%;
    position: relative;
    margin-right: 32px;
    margin-bottom: 24px;
}

.main__reviews_items_card_text_signature{
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #989898;
    margin: 0;
}

 .main__reviews_items_card{
    width: 50%;
    display: flex;
}

.main__reviews_items_card_text:before{
    content: '';
    display: block;
    position: absolute;
	border: 15px solid transparent; 
    border-right: 15px solid #ebebeb;
    top: 20px;
    left: -29px;
}

.main__reviews_items_card_img{
    margin-right: 16px;
    min-width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #445161;
}

/* buy it now */

.main__buy_wrp{
    padding: 50px;
}

.main__buy_content{
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}

.main__buy_header{
    display: block;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    text-align: center;
    margin-bottom: 30px;
}

.main__buy_content_card{
    background-color: #445162;
    padding-bottom: 20px;
    border-radius: 8px;
}

.main__buy_content_card_header{
    display: block;
    text-align: center;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #ffffff;
    padding: 16px 0 16px;
    margin: 0 auto;
}

.main__buy_content_card_price{
    margin: 0 auto; 
    display: block;
    text-align: center;
    font-size: 40px;
    line-height: 30px;
    font-weight: 400;
    color: #445162;
    padding: 18px 0 18px;
    background-color: #fff;
    border: #445162 solid 2px;
}

.main__buy_content_card_list{
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    list-style-position: inside;
    padding-left: 20px;
}

.main__buy_content_card_list_button{
    width: 90%;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 8px;
}

.main__buy_content_card_list_button_txt{
    display: block;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #445161;
    padding: 14px 0 13px;
    margin: 0 auto;
}